nav{
    background-image: url(../IKT/Képek/bg1.jpg);
}
.focim{
    text-align: center;
    font-variant:small-caps;
    margin-top: 60px;
    margin-bottom: 20px;
}
body{
    background-image:url(../IKT/Képek/bg1.jpg) ;
    color: white;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;  
}
#neuarckep{
        display: block;
        height: 600px;
        box-shadow: 5px 5px 3px rgb(72, 71, 71);
        margin-left: auto;
        margin-right: auto;
}
#fiatalkoracim{
    text-align: center;
    letter-spacing: 2px;
    
}
.szoveg{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-indent: 1cm;
    line-height: 0.8cm;
    font-size: 110%;
}
#ac{
   margin-left: auto;
   text-align: center;
   margin-top: 150px;
   margin-bottom: 50px;
}
.amszoveg{
    margin-left: 120px;
    margin-right: 120px;
    text-align: justify;
}
